.product {
    display: inline-block;
    width: 220px;
    position: relative;

    &--new,
    &--hit {
        &::before {
            content: 'Новинка!';
            text-transform: uppercase;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            background: #4da0ff;
            color: #FFF;
            font-size: 11px;
            line-height: 18px;
            font-weight: bold;
            padding: 0 8px;
            z-index: 3;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: -8px;
            top: 9px;
            border: 8px solid transparent;
            border-left-color: #3a70af;
            z-index: 2;
        }
    }

    &--hit {
        &::before {
            content: 'Хит!';
            text-align: right;
            background: #ff9b4d;
        }
        &::after {
            border-left-color: #b4550b;
        }
    }

    &__img {
        width: 220px;
        height: 220px;
        position: relative;
        z-index: 1;
    }

    &__footer {
        position: relative;
        margin-top: 20px;
    }
    &__title {
        @include flex;
        flex-direction: column;
        text-decoration: none;
    }
    &__gender, 
    &__label {
        @extend .text-through;

        color: #000;
        display: inline-block;
        margin-right: 5px;

        &:hover {
            color: #4990e2;
        }
    }

    &__price {
        font-weight: bold;
        position: absolute;
        right: 20px;
        top: -8px;
    }

    &--wide {
        width: 100%;

        .product__img {
            width: 100%;
            height: auto;
        }

        .product__title {
            flex-direction: row;
        }
    }

    .image-block {
        position: relative;

        &:hover {
            .product__overlay {
                opacity: 1;
            }
        }
    }

    &__overlay {
        @include flex(center, center);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(21, 101, 192, 0.79);
        border-radius: 5px;
        opacity: 0;
        cursor: pointer;
        z-index: 9;

        transition: all .2s ease-in-out;
    }

    &__add-box {
        text-decoration: none;

        &-icon {
            display: block;
            width: 60px;
            height: 60px;
            background: url(../assets/images/shopping-bag.svg) no-repeat center;
            background-size: contain;
            margin: 0 auto;

            transition: all .2s ease-in-out;
        }
        &-text {
            text-decoration: none;
            display: block;
            margin-top: 7px;
            color: #FFF;

            &::before {
                content: 'В корзину';
                display: block;
            }
        }
    }

    &--added {
        .product__add-box-icon {
            background-image: url(../assets/images/shopping-bag-added.svg);
            animation: add-box--added .5s cubic-bezier(0.6, -0.04, 0.13, 1.68);
        }
        .product__add-box-text {
            &::before {
                content: 'В корзине';
            }
        }
    }
}

.product-advice {
    width: 220px;
    position: relative;

    &__title {
        color: #1565c0;
        font-size: 44px;
        font-weight: 800;
        position: absolute;
    }

    &__icon {
        display: inline-block;
        width: 220px;
        height: 220px;
        border-radius: 100%;
        background: #f1f7ff center no-repeat;

        &--size {
            background-image: url(../assets/images/icons/size.png);
        }
        &--heat {
            background-image: url(../assets/images/icons/heat.png);
        }
        &--combo {
            background-image: url(../assets/images/icons/combo.png);
        }
    }

    &__text {
        position: relative;
        line-height: 1.25;
        margin-top: -40px;
    }
}

.product-list {
    @include flex;

    @media screen and (max-width: 1024px) {
        max-width: 500px;
        margin: 0 auto;
    }

    @media screen and (max-width: 512px) {
        max-width: 250px;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 20px;
        }

        @media screen and (max-width: 1024px) {
            width: calc(50% - 20px);
            margin-right: 0 !important;

            &:nth-child(2n) {
                margin-left: 20px;
                margin-bottom: 20px;
            }
        }

        @media screen and (max-width: 512px) {
            width: 100%;
            margin-left: 0 !important;
            margin-bottom: 20px;
        }
    }
}

.product-grid {
    @include flex(center, start);
    margin-top: 50px;

    &__col {
        @include flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-right: 40px;

            @media screen and (max-width: 1024px) {
                margin-right: 20px;
            }
        }

        .product {
            &:not(:last-child) {
                margin-bottom: 60px;
            }
        }

        &--wide {
            flex-grow: 1;

            @media screen and (max-width: 1024px) {
                order: 1;
                max-width: 400px;
                margin: 0 auto;
                margin-top: 20px;
            }

            .image-block {
                @extend .image-block--shaded;
            }
        }
    }
}

@keyframes add-box--added {
    from {
        transform: translateY(-60px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}