header.site-header
    .site-wrapper.flex.jc-start.ai-end
        a(href="#").site-logo
            |Битцевская Фабрика

        nav.site-nav
            ul.site-nav__list
                li.site-nav__item
                    a(href="#").site-nav__link
                        |Валенки

                li.site-nav__item
                    a(href="#").site-nav__link
                        |Галоши

                li.site-nav__item
                    a(href="#").site-nav__link
                        |Одежда

                li.site-nav__item
                    a(href="#").site-nav__link
                        |Аксессуары

                li.site-nav__item
                    a(href="#").site-nav__link
                        |О фабрике

        .header-box
            a(href="#").header-box__btn
                i.header-box__icon
                span.header-box__text
                    |2 товара / 6 350₽

            ul.header-box__list
                li.header-box__item
                    .header-box__product
                        img(src="/assets/images/product/1.jpg", alt="Василёк-Спорт").header-box__product-img
                        span.header-box__product-label Василёк-Спорт

                        input(type="text").header-box__product-amount
                        span.header-box__product-remove


            

.site-wrapper
    ul.hero-slider
        li.hero-slider__item(style="background-image: url(assets/images/hero.jpg)")
            h1.hero-slider__header
                |Модные валенки
                |из чистой шерсти.
                |Валяем с 1897 года.

            p.hero-slider__desc
                span.text-through Женские валенки
                br
                span.text-through Лосина
                br
                b 1 790 ₽
