doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(
            name="viewport" 
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        )
        block title
            title Валенок-Ру

    body
        include ../components/_header

        include ../sections/_section-models
        include ../sections/_section-news
        include ../sections/_section-walk
        include ../sections/_section-history
        include ../sections/_section-childrens
        include ../sections/_section-winter
        include ../sections/_section-combo

        include ../components/_contacts
        include ../components/_footer

        