section.section.childrens-section
    .site-wrapper
        h2.section__header
            |Для самых маленьких

        p.section__desc
            |Детские модели с противоскользящей подошвой Vibram® и массажными стельками 
            |Adiprene®. Тёплые, не скользкие и развитой супинацией стопы.


        ul.product-list
            li.product-list__item
                article.product
                    .image-block
                        .product__overlay
                            a(href="#").product__add-box
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/product/7.jpg", alt="Василёк-Спорт").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Для мальчиков
                            span.product__label Карапуз

                        span.product__price
                            |2 240 ₽

            li.product-list__item
                article.product
                    .image-block
                        .product__overlay
                            a(href="#").product__add-box
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/product/8.jpg", alt="Соловей").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Для девочек
                            span.product__label Принцесса

                        span.product__price
                            |2 900 ₽

            li.product-list__item
                article.product
                    .image-block
                        .product__overlay
                            a(href="#").product__add-box
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/product/9.jpg", alt="Альфа").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Для девочек
                            span.product__label Ронда

                        span.product__price
                            |2 900 ₽


            li.product-list__item
                article.product
                    .image-block
                        .product__overlay
                            a(href="#").product__add-box
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/product/10.jpg", alt="Альфа").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Для мальчиков
                            span.product__label Шмель

                        span.product__price
                            |2 240 ₽


    .section.section--colored-blue
        .site-wrapper.flex.js-start.flex-nowrap
            .video-content
                .video-content__preview

                iframe.video-content__video#video(width="700" height="470" src="//www.youtube.com/embed/brveQGvr7Ro?rel=0" frameborder="0" allowfullscreen)

            .section__inner
                h2.section__header
                    |Детские валенки
                    |против зимних ботинок

                p.section__desc
                    |Сюжет в передаче 
                    |«Ваш малыш», канал «Семейный»,
                    |апрель 2017 года

                span.text-hint
                    |Спойлер: валенки победили