section.section
    .site-wrapper
        h2.section__header
            |Новые модели

        p.section__desc
            |Обновляем модели каждые три месяца. В новой коллекции теперь больше цветных 
            |и ярких моделей для всей семьи.

        ul.product-list
            li.product-list__item
                article.product
                    img(src="/assets/images/product/1.jpg", alt="Василёк-Спорт").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Мужские валенки
                            span.product__label Василёк-Спорт

                        span.product__price
                            |3 700 ₽

            li.product-list__item
                article.product
                    img(src="/assets/images/product/2.jpg", alt="Соловей").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Мужские валенки
                            span.product__label Соловей

                        span.product__price
                            |1960 ₽

            li.product-list__item
                article.product
                    img(src="/assets/images/product/3.jpg", alt="Альфа").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Женские валенки
                            span.product__label Альфа

                        span.product__price
                            |2450 ₽

            li.product-list__item
                .product-advice
                    span.product-advice__title
                        |Совет

                    span.product-advice__icon.product-advice__icon--size

                    .product-advice__text
                        |Возьмите валенки на пару 
                        |размеров больше. За первый 
                        |сезон валенки сядут — это 
                        |естественное свойство 
                        |шерсти.
