section.section
    .site-wrapper
        h2.section__header
            |Для долгих прогулок

        p.section__desc
            |В этих валенках можно гулять 5—6 часов подряд. C массажной стелькой ноги 
            |не устанут. Резиновая подошва не скользит и не промерзает.

        .product-grid
            .product-grid__col
                article.product.product--new
                    .image-block
                        .product__overlay
                            a(href="#").product__add-box.product__add-box--added
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/product/4.jpg", alt="Василёк-Спорт").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Женские валенки
                            span.product__label Василиса-Адвенчур

                        span.product__price
                            |1 790 ₽


                .product-advice
                    span.product-advice__title
                        |Совет

                    span.product-advice__icon.product-advice__icon--heat

                    .product-advice__text
                        |Не берите слишком тёплые 
                        |валенки для мягкой зимы. 
                        |Ногам будет жарко, а в обуви 
                        |будет скапливаться влага. 
                        |Валенки испортятся.


            .product-grid__col.product-grid__col--wide
                article.product.product--new.product--wide
                    .image-block.image-block--shaded
                        .product__overlay
                            a(href="#").product__add-box
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/gallery/1.png", alt="Женские валенки Пинки").product__img.image-block__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Женские валенки 
                            span.product__label Пинки

                        span.product__price
                            |5 400 ₽


            .product-grid__col
                article.product.product--new
                    .image-block
                        .product__overlay
                            a(href="#").product__add-box
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/product/5.jpg", alt="Василёк-Спорт").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Мужские валенки
                            span.product__label Пастух

                        span.product__price
                            |5 300 ₽


                article.product.product--new
                    .image-block
                        .product__overlay
                            a(href="#").product__add-box
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/product/6.jpg", alt="Василёк-Спорт").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Женские валенки
                            span.product__label Звезда

                        span.product__price
                            |5 300 ₽