section.section
    .site-wrapper
        h2.section__header
            |Для городской зимы

        p.section__desc
            |Легкие и удобные валенки для повседневной носки. Им нипочем мокрый снег, 
            |грязь и лужи. Расчитаны на температуру от −15˚ до +7˚.

        .product-grid
            .product-grid__col
                article.product.product--hit
                    .image-block
                        .product__overlay
                            a(href="#").product__add-box
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/product/11.jpg", alt="Василёк-Спорт").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Мужские валенки
                            span.product__label Подольск-Спорт

                        span.product__price
                            |1 700 ₽


                article.product.product--new
                    .image-block
                        .product__overlay
                            a(href="#").product__add-box
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/product/12.jpg", alt="Василёк-Спорт").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Мужские валенки
                            span.product__label Петруха

                        span.product__price
                            |4 150 ₽


            .product-grid__col
                article.product.product--new
                    .image-block
                        .product__overlay
                            a(href="#").product__add-box
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/product/13.jpg", alt="Василёк-Спорт").product__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Женские валенки
                            span.product__label Кукушка

                        span.product__price
                            |1 700 ₽


                .product-advice
                    span.product-advice__title
                        |Совет

                    span.product-advice__icon.product-advice__icon--combo

                    .product-advice__text
                        |Для каждой пары валенок 
                        |доступны 3 вида стелек — 
                        |спортивная, утеплённая 
                        |и массажная. Попробуйте 
                        |все и выберите свою.



            .product-grid__col.product-grid__col--wide
                article.product.product--new.product--wide
                    .image-block.image-block--shaded
                        .product__overlay
                            a(href="#").product__add-box
                                span.product__add-box-icon
                                span.product__add-box-text 
                        .image-block__inner
                            img(src="/assets/images/gallery/6.png", alt="Мужские валенки Бунтарь").product__img.image-block__img

                    .product__footer
                        a(href="#").product__title
                            span.product__sex Мужские валенки
                            span.product__label Бунтарь

                        span.product__price
                            |5 400 ₽